.inbox-head
	%h3 View Mail
	%form.pull-right.position{:action => "#"}
		.input-append
			%input.sr-input{:placeholder => "Search Mail", :type => "text"}
				%button.btn.sr-btn{:type => "button"}
					%i.fa.fa-search
#main-wrapper
	#main
		.inbox-body
			.heading-inbox.row
				.col-md-8
					.compose-btn
						%a.btn.btn-sm.btn-primary{:href => "mail_compose.html"}
							%i.fa.fa-reply
							Reply
						%button.btn.btn-sm.tooltips{"data-original-title" => "Print", "data-placement" => "top", "data-toggle" => "tooltip", :title => "", :type => "button"}
							%i.fa.fa-print
						%button.btn.btn-sm.tooltips{"data-original-title" => "Trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
							%i.fa.fa-trash-o
				.col-md-4.text-right
					%p.date
						= time_formatter(@message.created_at)
				.col-md-12
					%h4 
						= "#{@message.contact.name} [#{@message.contact.phone_number}]"
			.view-mail
				%input#phone{type: "hidden", value: @message.contact.phone_number}
				- @messages.each do |message|
					.room-box
						%h5.text-primary
							%a{:href => contact_path(message.contact)}
								= message.sender
						%p
							= message.text
			.row.reply-box
				%form
					.col-lg-11.txt-div
						%textarea.form-control#txt-area{:type => "text"}
					.col-lg-1.btn-div
						%input.btn.btn-success.pull-right#send-button{type: "submit", value: "Reply"}