%p#notice= notice

%p
  %b Name:
  = @contact.name
%p
  %b Phone number:
  = @contact.phone_number
%p
  %b Location:
  = @contact.location

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
