!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'County Sms Portal'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'County Sms Portal'}"}
    = stylesheet_link_tag 'application', '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.cl-default.fixed
    / start:navbar top
    / = render 'layouts/navigation'
    %section.content
      .row
        .col-lg-12
          .box
            / mail inbox start
            .mail-box
              %aside.sm-side
                .user-head
                  %a.inbox-avatar{:href => "javascript:;"}
                    %img.img-responsive{:alt => "", :src => "img/user.jpg"}
                  .user-name
                    %h5
                      %a{:href => "#"} Jonathan Smith
                    %span
                      %a{:href => "#"} jsmith@gmail.com
                  %a.mail-dropdown.pull-right{:href => "javascript:;"}
                    %i.fa.fa-chevron-down
                .inbox-body
                  %a.btn.btn-compose{"data-toggle" => "modal", :href => "#myModal"}
                    Compose
                  / Modal
                  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                          %h4.modal-title Compose
                        .modal-body
                          %form.form-horizontal{:role => "form"}
                            .form-group
                              %label.col-lg-2.control-label To
                              .col-lg-10
                                %input#inputEmail1.form-control{:placeholder => "", :type => "text"}
                            .form-group
                              %label.col-lg-2.control-label Cc / Bcc
                              .col-lg-10
                                %input#cc.form-control{:placeholder => "", :type => "text"}
                            .form-group
                              %label.col-lg-2.control-label Subject
                              .col-lg-10
                                %input#inputPassword1.form-control{:placeholder => "", :type => "text"}
                            .form-group
                              %label.col-lg-2.control-label Message
                              .col-lg-10
                                %textarea.form-control{:cols => "30", :id => "", :name => "", :rows => "10"}
                            .form-group
                              .col-lg-offset-2.col-lg-10
                                %span.btn.green.fileinput-button
                                  %i.fa.fa-plus.fa.fa-white
                                  %span Attachment
                                  %input{:multiple => "", :name => "files[]", :type => "file"}
                                %button.btn.btn-send{:type => "submit"} Send
                      / /.modal-content
                    / /.modal-dialog
                  / /.modal
                %ul.inbox-nav.inbox-divider
                  %li.active
                    %a{:href => "#"}
                      %i.fa.fa-inbox
                      Inbox
                      %span.label.label-danger.pull-right 2
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-envelope-o
                      Sent SMS
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-star
                      Favorite
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-trash-o
                      Trash
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-users
                      Contacts
                %ul.nav.nav-pills.nav-stacked.labels-info.inbox-divider
                  %li
                    %h4 Categories
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-sign-blank.text-danger
                      Work
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-sign-blank.text-success
                      Design
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-sign-blank.text-info
                      Family
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-sign-blank.text-warning
                        Friends
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-sign-blank.text-primary
                          Office
                / %ul.nav.nav-pills.nav-stacked.labels-info
                /   %li
                /     %h4 Buddy online
                /   %li
                /     %a{:href => "#"}
                /       %i.fa.fa-circle.text-success
                /       Jhone Doe
                /       %p I do not think
                /   %li
                /     %a{:href => "#"}
                /       %i.fa.fa-circle.text-danger
                /       Sumon
                /       %p Busy with coding
                /   %li
                /     %a{:href => "#"}
                /       %i.fa.fa-circle.text-muted
                /       Anjelina Joli
                /       %p I out of control
                /     %li
                /       %a{:href => "#"}
                /         %i.fa.fa-circle.text-muted
                /         Jonathan Smith
                /         %p I am not here
                /       %li
                /         %a{:href => "#"}
                /           %i.fa.fa-circle.text-muted
                /           Tawseef
                /           %p I do not think
                .inbox-body.text-center
                  .btn-group
                    %a.btn.mini.btn-primary{:href => "javascript:;"}
                      %i.fa.fa-plus
                  .btn-group
                    %a.btn.mini.btn-success{:href => "javascript:;"}
                      %i.fa.fa-phone
                  .btn-group
                    %a.btn.mini.btn-info{:href => "javascript:;"}
                      %i.fa.fa-cog
              %aside.lg-side
                = yield
      / end:content
